
_csv_files/Gin.csv
_csv_files/Rum.csv
_csv_files/Beer.csv
_csv_files/Champagne.csv
_csv_files/Cider.csv
_csv_files/Cognac.csv
_csv_files/Cooler.csv
_csv_files/Fortified Wine.csv
_csv_files/Grappa.csv
_csv_files/Liqueur.csv
_csv_files/Soju.csv
_csv_files/Sparkling Wine.csv
_csv_files/Specialty Wine.csv
_csv_files/Tequila.csv
_csv_files/Vodka.csv
_csv_files/Whisky.csv
_csv_files/Wine.csv
